<!DOCTYPE html>
<html lang='en'>
  
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AvoSite</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=ABeeZee|Lobster&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="./static/css/style.css">
  <script src="https://unpkg.com/simple-statistics@5.0.0/dist/simple-statistics.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.7/d3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
  <!-- Step 1 - Include the fusioncharts core library -->
  <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
  <!-- Step 2 - Include the fusion theme -->
  <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
 
  <style>
    body {
      background-color: #9dd93f;
    }
   </style>
</head>

<body>
  <div class="container">
    <div class="jumbotron nopadding">
	  <div class="jumbobox rounded">
		  <h1>Just Another Pit-iful</h1>
		  <h1>Avocado Website</h1>
	  </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-8">
		<div class="panel rounded">Local Guacamole</div>
      <div id="CompositeDict" value='{{ CompositeDict }}'></div>
      <div id="map" style="height: 80vh;"></div>
	  </div>
	  <div class="col-sm-12 col-md-4">
		<div class='panel rounded'>Commercial Avocado Production Around the World (2017)</div>
		<div class="box rounded">
		  <p1>The visualization to the left maps countries that reported commercial production of avocados to the United Nations in 2017.<br> 
        Addtionally, countries that also reported growing the follow: Tomatoes, Garlic, Onion, Cilantro, & Limes are noted in green.<br>
        Note that this visualization is not limited to the production of Hass Avocados, but include other varieties of avocados. 
      </p1>
		</div> 
    </div>
    <script src="{{ url_for('static', filename='js/logic.js') }}"></script>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4">
		<div class='panel rounded'>How much do these Pit-iful fruits cost!?</div>
		<div class="box rounded">
		  <p2>This time series plot shows the average price of a SINGLE avocado. I repeat, SINGLE avocado. That's insane.
        The California plot seems to show wild fluctuations in price.
        Ultimately, the average cost has been increasing over the years.
        Select different regions to see if there are similar trends. 
        How could the price be possibly so high? Could it be the volume of avocados? Let's find out.</p2>
		</div> 
	  </div>
      <div class="col-sm-12 col-md-8">
		  <div class="panel rounded">Average Avocado Price of Selected Region</div>
			  <div id="avoprice" value='{{ avocado_json }}'></div>
        <div class="showcase__section" id="timeserie">
          <div class="spacer --small"></div>
          <div id="timeseries">
            <div class="timeseriesplot" data-num="0">
              <div class="plot" id="avoplot"></div>
              <div class="control-row">
                Region: <select class="regiondata"></select> Note: California Region is set as default plot.
              </div>
            </div>
          </div>
        </div>
    
        <script type="text/javascript" src="./static/js/main.js"></script>
	    </div>
	  </div>
  <div class="row">
	<div class="col-sm-12 col-md-8">
	  <div class="panel rounded">Total Volume of Avocados in Selected Region</div>
      <div class="showcase__section" id="timeserie2">
        <div class="spacer --small"></div>
        <div id="timeseries2">
          <div class="timeseriesplot" data-num="1">
            <div class="plot" id="avoplot2"></div>
            <div class="control-row">
              Region: <select class="regiondata2"></select> Note: California Region is set as default plot.
            </div>
          </div>
        </div>
      </div>

      <script type="text/javascript" src="./static/js/main2.js"></script>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="panel rounded">How many avocados are being produced???</div>
      <div class="box rounded">
        <p3>Looking at the plot for California, the plot also fluctuates but not as badly. 
            The beginning and end of the plot are within the same range which means the overall volume has been steady.
            So it looks like volume isn't as much of a factor in the increase of avocado price. 
            At least for California it isn't.</p3>
	    </div> 
	  </div>
  </div>

  <!-- FUSION CHART WORK IN PROGRESS. Possibly changing to chart.js -->

  <!-- <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="panel rounded">Variance Between Predictions and Harvest for Avocados, 2019</div>
		  <div id='weeklyData' value='{{ week2019Json }}'></div>
      <script src="{{ url_for('static', filename='js/fusionchart.js') }}"></script>
      <div class="amyPlot">
	  </div>
    </div>
  </div> -->
  <!-- <div class="row">
    <div class="col-sm-12 col-md-8">
      <div class="panel rounded">Annual Profit v. Pounds per Acre since 2019</div>
      <div id='yearlyData' value='{{ annualCaliData }}'></div>
      <script src="{{ url_for('static', filename='js/amyd3app.js') }}"></script>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="panel rounded">Visualization Analysis</div>
      <div class="box rounded">
        <p3>This scatter plot shows the variance between the profit of avocadoes per acre, and the volume of avocadoes per year.
        I chose to visualize this data because I found it fascinating that these numbers didn't always correlate.</p3>
      </div>
    </div>
  </div> -->
</body>
</html>